@import "../../utilities.scss";

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $white;
  z-index: 1000;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 1fr minmax(0px, 600px) 1fr;
  grid-gap: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);

  @media (max-width: "750px") {
    grid-template-columns: 1fr 1fr;
    padding: 4px 10px;
  }

  .logoContainer {
    flex: 1;
    display: flex;
    align-items: center;

    img {
      width: 35px;
    }

    .facebookLogo {
      fill: #fff;
    }

    .inputContainer {
      position: relative;
      background-color: $secondBackground;
      border-radius: 50px;
      display: flex;
      align-items: center;
      margin: 0 0 0 10px;
      height: 39px;

      @media (max-width: "1240px") {
        padding: 0 12px;
      }

      input {
        background-color: transparent;
        padding: 12px 12px 12px 35px;
        border: none;
        outline: none;
        font-size: 15px;
        max-width: 230px;

        @media (max-width: "1240px") {
          display: none;
        }
      }

      .icon {
        position: absolute;
        margin-left: 10px;
        font-size: 16px;
        color: $gray;

        @media (max-width: "1240px") {
          position: relative;
          margin: 0;
        }
      }
    }
  }

  .container {
    @media (max-width: "750px") {
      display: none;
    }

    .ulMid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;

      .li {
        flex: 1;
        height: 47px;
        display: grid;
        place-items: center;
        border-radius: 7px;
        cursor: pointer;
        transition: 0.1s ease;

        &:hover {
          background-color: $secondBackground;
        }

        .icon {
          fill: $gray;
          transition: 0.1s ease;
        }

        &:nth-child(1) {
          .icon {
            fill: none;
            stroke: $gray;
            stroke-width: 2px;
          }
        }
      }

      .active {
        position: relative;
        pointer-events: none;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          top: 100%;
          padding: 2px 0;
          background-color: $blue;
        }
        .icon {
          fill: $blue !important;
          stroke-width: 0 !important;
        }
      }
    }
  }

  .ulRight {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      height: 35px;
      display: grid;
      place-items: center;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.1s ease;

      &:nth-child(5) {
        margin: 0 0 0 3px;
      }
    }

    .nameContainer {
      padding: 5px 10px 5px 5px;
      display: flex;
      align-items: center;
      margin: 0 5px 0 0;

      @media (max-width: "1270px") {
        display: none;
      }

      &:hover {
        background-color: $secondBackground;
      }

      div {
        display: flex;
        align-items: center;
        color: $textBlack;
        font-size: 15px;
        font-weight: 600;

        img {
          width: 28px;
          height: 28px;
          margin: 0 5px 0 0;
          border-radius: 50px;
          color: $gray;
          background-color: $lightGray;
        }

        p {
          position: relative;
        }
      }
    }

    .iconHamburger {
      width: 40px;
      height: 40px;
      display: grid;
      background-color: $lightGray;
      place-items: center;
      display: none;
      transition: 0.1s;

      @media (max-width: "750px") {
        display: grid;
      }

      .icon {
        transition: 0.1s;
        font-size: 30px;
      }
    }

    .activeBottom {
      background: $lightBlue;

      .icon {
        color: $blue;
      }
    }

    .iconContainer {
      width: 40px;
      height: 40px;
      background-color: $lightGray;
      margin: 0 3px;

      &:nth-child(3) {
        @media (max-width: "750px") {
          display: none;
        }
      }

      &:nth-child(4),
      &:nth-child(5) {
        @media (max-width: "900px") {
          display: none;
        }
      }

      &:hover {
        filter: brightness(0.9);
      }

      .icon {
        color: $black;
        fill: $black;
        font-weight: bold;
        font-size: 25px;
      }

      &:nth-child(6) {
        position: relative;

        &:hover p {
          opacity: 1;
          color: #fff;
        }

        .icon {
          font-size: 25px;
        }

        p {
          position: absolute;
          bottom: -30px;
          background-color: $textBlack;
          color: #fff;
          font-size: 13px;
          padding: 2px 9px;
          border-radius: 5px;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.364);
          pointer-events: none;
          opacity: 0;
        }
      }
    }
  }
}

.bottomNavbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #fff;
  padding: 5px 0;
  z-index: 999px;
  display: none;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.083);

  @media (max-width: "750px") {
    display: block;
  }

  .ulMid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    .li {
      flex: 1;
      height: 47px;
      display: grid;
      place-items: center;
      border-radius: 7px;
      cursor: pointer;
      transition: 0.1s ease;

      &:hover {
        background-color: $secondBackground;
      }

      .icon {
        fill: $gray;
        transition: 0.1s ease;
      }

      &:nth-child(1) {
        .icon {
          fill: none;
          stroke: $gray;
          stroke-width: 2px;
        }
      }
    }

    .active {
      position: relative;
      pointer-events: none;
      background: #fff;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        top: 100%;
        padding: 2px 0;
        background-color: $blue;
      }
      .icon {
        fill: $blue !important;
        stroke-width: 0 !important;
      }
    }
  }
}

.notActiveBotNav {
  box-shadow: none;
  transform: translateY(100%);
}
