.section {
  @media (max-width: "1313px") {
    grid-row: 1 / 2;
  }

  display: grid;
  place-items: center;
  padding: 20px 10px 0 10px;

  .newsFeedContainer {
    min-height: 100vh;
    width: 600px;

    @media (max-width: "620px") {
      width: 100%;
    }
  }
}
